<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance</title>
    </head>
    <body>
        <h1>Site is currently on maintenance!</h1>
        <p>Inconvenience is deeply regretted</p>
    </body>
</html>